@model TravelBooking.Models.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Detalii";
}

<!-- Container principal -->
<div class="container my-5">
    <div class="invoice-box border shadow-lg p-4 bg-white">
        <h1 class="text-center">Detalii</h1>
        <hr />

        <!-- Detalii client -->
        <div class="row">
            <div class="col-sm-6">
                <h5>Detalii client</h5>
                <dl class="row">
                    <dt class="col-sm-4">Nume</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.CustomerName)</dd>
                    <dt class="col-sm-4">E-mail</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.CustomerEmail)</dd>
                    <dt class="col-sm-4">Telefon</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.CustomerPhone)</dd>
                </dl>
            </div>

            <!-- Detalii rezervare -->
            <div class="col-sm-6">
                <h5>Detalii rezervare</h5>
                <dl class="row">
                    <dt class="col-sm-4">Hotel</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DestinationName)</dd>
                    <dt class="col-sm-4">Locație</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DestinationLocation)</dd>
                    <dt class="col-sm-4">Check-in</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.CheckIn)</dd>
                    <dt class="col-sm-4">Check-out</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.CheckOut)</dd>
                    <dt class="col-sm-4">Data rezervării</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.CreatedDate)</dd>
                    <dt class="col-sm-4">Ultima modificare</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.LastModifiedDate)</dd>
                    <dt class="col-sm-4">Status</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Status)</dd>
                </dl>
            </div>
        </div>

        <!-- Detalii costuri -->
        <div class="col-sm-6">
            <h5>Detalii cost</h5>
            <dl class="row">
                <dt class="col-sm-4">Număr de persoane</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NumberOfPersons)</dd>
                <dt class="col-sm-4">Număr de nopti</dt>
                <dd class="col-sm-8">@ViewBag.NumberOfNights</dd>
                <dt class="col-sm-4">Total</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Price)</dd>
            </dl>
        </div>

        <div class="text-center mt-4">
            <a class="btn btn-primary" style="border-radius: 15px;" asp-action="GetUserBookings" asp-route-id="@ViewBag.CustomerId">Înapoi la rezervări</a>
        </div>
    </div>
</div>

<!-- CSS pentru stilizare -->
<style>
    .invoice-box {
        max-width: 1000px;
        margin: 0 auto;
        font-family: 'Arial', sans-serif;
        font-size: 16px;
    }

        .invoice-box h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        .invoice-box dl {
            margin-bottom: 10px;
        }

        .invoice-box dt {
            font-weight: bold;
        }

        .invoice-box dd {
            margin-left: 0;
            margin-bottom: 8px;
        }

        .invoice-box hr {
            margin: 20px 0;
        }

        .invoice-box .row {
            margin-bottom: 20px;
        }

        .invoice-box .btn {
            font-size: 18px;
        }

        .invoice-box .col-sm-4 {
            text-align: right;
            font-weight: bold;
        }

        .invoice-box .col-sm-8 {
            text-align: left;
        }

        .invoice-box .text-center {
            text-align: center;
        }
</style>
