@model IEnumerable<TravelBooking.Models.ViewModels.BookingViewModel>

@{
    ViewData["Title"] = "GetUserBookings";
}

<h1>Rezervarile mele</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nume
            </th>
            <th>
                Email
            </th>
            <th>
                Telefon
            </th>
            <th>
                Hotel
            </th>
            <th>
                Locatie
            </th>
            <th>
                Check-in
            </th>
            <th>
                Check-out
            </th>
            <th>
                Data rezervarii
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Total
            </th>
            <th>
                Numar de persoane
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPersons)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
