@model TravelBooking.Models.ViewModels.DestinationViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="container my-5">
    <div class="card mx-auto" style="max-width: 60%;">
        <div class="card-body">
            <h1 class ="card-title text-center">@Model.Name</h1>
            <h4 class="card-title text-center">@Model.Location</h4>
            <hr />
            <dl class="row">
                <dd class="col-sm-12">
                    <div id="carouselExample" class="carousel slide" style="max-width: 100%; margin: 0 auto;">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="@Url.Content(Model.ImagesNames[0])" class="d-block w-100" alt="Destination Image" />
                            </div>
                            @for(var i = 1; i < Model.ImagesNames.Count; i++)
                            {
                                <div class="carousel-item">
                                    <img src="@Url.Content(Model.ImagesNames[i])" class="d-block w-100" alt="Destination Image" />
                                </div>
                            }                            
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </dd>
                <dt class="col-sm-22">
                    Descriere
                </dt>
                <dd class="col-sm-12">
                    @Html.Raw(Model.Description.Replace("\r\n", "<br/>").Replace("\n", "<br/>"))
                </dd>
                <dt class="col-sm-12">
                    Pret/Noapte/Persoana
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.PricePernightPerPerson)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-center"> 
             <a class="btn btn-secondary" asp-action="Index" asp-route-cityName="@ViewBag.CityName">Back to List</a> 
        </div>
        <div class="card-footer text-center">
            <a class="btn btn-secondary" asp-controller="Booking" asp-action="CreateMyBooking" asp-route-cityName="@ViewBag.CityName"
               asp-route-customerId="@ViewBag.Customer.CustomerId" asp-route-destinationId="@Model.DestinationId">
                Rezerva
            </a>
        </div>
    </div>
</div>

