@model IEnumerable<TravelBooking.Models.ViewModels.DestinationViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePernightPerPerson)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (!string.IsNullOrWhiteSpace(item.PicturePath))
                {
                    @* <img src="@item.PicturePath" width="100" /> *@
                    <img src="@Url.Content(item.PicturePath)" width="100" height="100" class="img-thumbnail" alt="Destination Image" />
                }
                else
                {
                    <p>No image</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePernightPerPerson)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.DestinationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DestinationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DestinationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
