@model IEnumerable<TravelBooking.Models.ViewModels.DestinationViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Destinatii</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                Hotel
            </th>
            <th>
                Locatie
            </th>
            <th>
                Pret/Noapte/Persoana
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (!string.IsNullOrWhiteSpace(item.ImagesNames[0]))
                {
                    @* <img src="@item.PicturePath" width="100" /> *@
                    <img src="@Url.Content(item.ImagesNames[0])" width="100" height="100" class="img-thumbnail" alt="Destination Image" />
                    @* <img src="@Url.Content("/images/f1.jpg")" width="100" height="100" class="img-thumbnail" alt="Destination Image" /> *@
                }
                else
                {
                    <p>No image</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePernightPerPerson)
            </td>            
            <td>
                <a asp-action="Details" asp-route-id="@item.DestinationId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
